<mat-card
  [class.disabled]="disabled">
  <div class="content-area">
    <section (click)="changeExpansion()">
      <div class="accordion-title">
        @if (titleLabel) {
          <strong [i18nLabel]="titleLabel"></strong>
        } @else {
          <strong> {{ title }}</strong>
        }
        @if (subTitleLabel) {
          <small [i18nLabel]="subTitleLabel"></small>
        } @else {
          <small> {{ subTitle }}</small>
        }
      </div>
      @if (expandable) {
        @if (!expanded) {
          <cin-icon 
            cinTooltip="expand"
            [icon]="['fas', 'arrow-down']">
          </cin-icon>
        } @else {
          <cin-icon 
            cinTooltip="collapse" 
            [icon]="['fas', 'arrow-up']">
          </cin-icon>
        }
      }
    </section>

    <!-- Parent Content-->
    @if(expanded) {
      <ng-content></ng-content>
    }
  </div>

  @if (deletable) {
    <button mat-button
      (click)="onDelete()">
      <cin-icon [icon]="['fas', 'trash']"></cin-icon>
    </button>
  }
</mat-card>