<div class="container">
  <section>

    <button mat-raised-button
      (click)="filtersCollapsed = !filtersCollapsed"
      [class.active] = "!filtersCollapsed">
        <div>
          <cin-icon [icon]="['fas', 'filter']"></cin-icon>
          
          <span i18nLabel="filter"></span>
          
          @if (filtersActive | async) {
            <cin-icon
              class="check-icon"
              [icon]="['fas', 'check']">
            </cin-icon>
          }
        </div>
    </button>

    <!-- The grand-parent content, e.g. display filters, etc. -->
    <ng-content></ng-content>

  </section>
  <mat-card [@collapse]="!filtersCollapsed">
    <mat-card-content>

      <!-- The filters to use in this filter area -->
      <div class="default-search">
        <ng-content select="[filters]"></ng-content>
      </div>

      @if (extendedSearch) {
        <div class="extended-search" [@collapse]="!extendedCollapsed">
          <mat-divider></mat-divider>
          <ng-container [ngTemplateOutlet]="extendedSearch!.templateRef"></ng-container>
        </div>
      }

    </mat-card-content>
    <mat-card-actions>
      @if (extendedSearch) {
        <button mat-stroked-button class="primary" color="primary"
          (click)="extendedCollapsed = !extendedCollapsed">
          <span [i18nLabel]="extendedCollapsed ? 'extendedSearch' : 'closeExtendedSearch'"></span>
        </button>
      }

      <button mat-stroked-button class="warn" color="warn" (click)="clearFilters()">
        <span i18nLabel="clearAllFilters"></span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>